.form-control{
    border-radius: 3px;
    width: 430px;
    margin-left: 20px;
    margin-top: 5px;
}

.search-icon{
    position: absolute;
    z-index: 10;
    right: 50%;
    top: 25px;
    color: blue;
}

.animation{
animation-name: switchColor;
animation-duration: 4s;
animation-iteration-count: infinite;
cursor: pointer;
}

@keyframes switchColor {
    from {color: black;}
    to {color: white;}
  }